<ion-view view-title="About">
  <ion-content class="padding" style="background-color:#282B32;color:white">
    Whittier Cafe
    <div class="padding">
      <div class="ion-ios-telephone"> (720) 550-7440</div>
    </div>
    <div class="ion-ios-location padding">
      1710 E 25th Ave, Denver, CO 80205
    </div>
    <div class="ion-android-time padding">
      Hours:
      <div class="">
        Monday 6:30AM–8PM
      </div>
      <div class="">
        Tuesday	6:30AM–8PM
      </div>
      <div class="">
        Wednesday	6:30AM–8PM
      </div>
      <div class="">
        Thursday 6:30AM–8PM
      </div>
      <div class="">
        Friday 6:30AM–8PM
      </div>
      <div class="">
        Saturday 7:30AM–8PM
      </div>
      <div class="">
        Sunday 7:30AM–8PM
      </div>
    </div>
  </ion-content>
</ion-view>
