<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-color-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="About" icon-off="ion-coffee" icon-on="ion-coffee" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Vote" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/polls">
    <ion-nav-view name="tab-polls"></ion-nav-view>
  </ion-tab>

  <!-- Admin Tab -->
  <ion-tab title="Admin" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/admin" hidden="{{hidden}}">
    <ion-nav-view name="tab-admin"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
