/* Empty. Add your own CSS if you like */

.invalid{
  color: red;
}

h5{
  margin: auto;
  text-align: center;
}

.divider {
  margin: auto;
  text-align:center;
  position: relative;
  margin-top: 2vh;
}

.divider hr {
  display: inline-block;
  width:20%;
  margin-left: 2%;
  margin-right: 2%;
}

.divider span{
  display: inline-block;
  position: relative;
  bottom: 4px;
  font-size: 0.9em;
}

.title_toggle{
  display: inline-block;
  width: 60px;
  margin-right: 10px;
}

.showCreate{
  cursor: pointer;
}

.active{
  color:green;
}

.unnactive{
  color:red;
}

.poll-title{
  margin:auto;
  text-align: center;
  margin-top: 30px;
}

.ion-toggle-filled{
  color:green;
}

.tab-nav {
  background-color: #434343;
  border-color:black;
}

.tabs{
  background-color: #434343;
  border-color:black;
}

.icon{
  color:white;
}

.tab-title{
  color:white;
}

.background{
  background-repeat:no-repeat;background-size: 100%; background-image: url('https://pixabay.com/static/uploads/photo/2015/07/11/23/00/coffee-841425_960_720.jpg')
}

.button-energized{
  background-color: #B8860B;
}
